// Bootstrap grid
$enable-flex: true;
$enable-grid-classes: true;

@import '../bootstrap-4/scss/_variables.scss';
@import '../bootstrap-4/scss/_mixins.scss';
@import '../bootstrap-4/scss/_reboot.scss';
@import '../bootstrap-4/scss/_grid.scss';
@import '../bootstrap-4/scss/utilities/_text.scss';

$color: #e3791c;
$color-vivid: #ff7700;
$add-color: #00C618;
$color-neutral-light: #e6d2c1;
$color-neutral: #b57c4a;
$color-neutral-dark: #3e2a19;

$second-color: complement($color); // should be #3b84c4
$second-neutral-light: #c9d5df;
$second-neutral: #5f82a0;
$second-neutral-dark: #202c36;

body {
  font-family: 'Roboto', sans-serif;
  background: lighten($second-neutral-light, 15%);
  color: $second-neutral-dark;
}

.addStockContainer {
  padding: 10px;
  margin: 5px;
}

.addStockContainer {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.addStockTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

#addStockBtn {
  margin-top: 10px;
  background: $add-color;
  border: 1px solid darken($add-color, 20%);
  border-radius: 5px;
  color: $second-neutral-dark;
  font-weight: bold;
  padding: 5px 15px;

  &:hover {
    cursor: pointer;
    background: lighten($add-color, 7%);
  }
}

#chartContainer {
  margin: 10px 0;
  width: 100%;
}

#chartKeyContainer {
  width: 100%;
}

.chartKey {
  display: inline-block;
  background: $second-neutral-light;
  border: 1px solid;
  border-left: 4px solid;
  border-color: blue;
  padding: 5px;
  margin: 5px;
}

.chartTitle {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}

.compareBtn {
  background: $color-neutral-light;
  border: 1px solid black;
  min-width: 140px;
  padding: 5px;

  &:hover {
    cursor: pointer;
    background: lighten($color, 15%);
  }

  &.active {
    background: $color;
    &:hover {
      background: $color;
      cursor: default;
    }
  }
}

#container {
  height: 400px;
  margin: 20px 0;
  width: 100%;
  min-width: 310px;
}

#errorDisplay {
  color: darken(red, 10%);
  font-weight: bold;
  font-size: 1.5rem;
}

#info {
  background: blue;
  color: white;
  border-radius: 50%;
  border: 1px solid darkblue;
  font-weight: bold;
  padding: 1px 10px;
  
  &:hover {
    cursor: pointer;
  }
}

.loading {
  position: relative;
  width: 30px;
  height: 30px;
}

#chartLoading {
  margin: 100px 0;
}

#stockLoading {
  display: inline-block;
  padding: 5px;
  margin: 5px;
}

.hidden {
  display: none !important;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#priceBtn {
  border-radius: 5px 0 0 5px;
}

#percentChangeBtn {
  border-radius: 0 5px 5px 0;
}

.removeBtn {
  float: right;
  margin: 4px;
  background: $second-neutral-light;
  border: none;
  color: $second-neutral;
  font-weight: bold;
  
  &:hover{
    cursor: pointer;
    color: $second-neutral-dark;
  }
}

.title {
  margin-bottom: 20px;
  color: $second-neutral-dark;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  border-top: 4px solid #07d;
  border-right: 4px solid transparent;
  animation: spinner .6s linear infinite;
}